.PizzaBuilder {
  .row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;

    @media (max-width: 850px) {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .left-col {
    height: 100%;
  }

  .right-col {
    height: 100%;
    @media (max-width: 850px) {
      margin-bottom: 50px;
    }
  }
}
