.PizzaControls {
  width: 50%;
  background-color: #efdabc;
  border-radius: 5px;
  margin: auto;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }
  .checkout {
    background: #fc5c00;
    color: white;
    margin-bottom: 10px;
  }
  .checkout:hover {
    background: #fc5c008f;
  }
}
