.PizzaControls {
  width: 50%;
  background-color: #efdabc;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 56px -19px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 56px -19px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 56px -19px rgba(255, 255, 255, 1);

  @media (max-width: 1250px) {
    width: 60%;
  }
  @media (max-width: 1100px) {
    width: 75%;
  }
  @media (max-width: 850px) {
    width: 400px;
  }
  @media (max-width: 500px) {
    width: 350px;
  }
  @media (max-width: 450px) {
    width: 300px;
  }
  @media (max-width: 350px) {
  }
  h5 {
    margin-top: 20px;
  }

  .PizzaSize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    input:focus {
      outline: none !important;
    }

    .Small {
      width: 40px;
      height: 40px;
      transition: transform 0.2s ease-in;
    }
    .Large {
      width: 50px;
      height: 50px;
      margin: 0 15px;
      transition: transform 0.2s ease-in;
    }
    .Family {
      width: 60px;
      height: 60px;
      transition: transform 0.2s ease-in;
    }

    .Clicked {
      transform: scale(1.1, 1.1);
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
  .checkout {
    background: #fc5c00;
    color: white;
    margin-bottom: 10px;
  }
  .checkout:hover {
    background: #fc5c008f;
  }
}
