@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
.Navigation {
  text-align: center;
  background-color: #2f2525;
  color: white;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 4px;
  h1 {
    padding: 0.67em;
    margin: 0;
  }
}
