@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
.Navigation {
  background-color: #2f2525;
  color: white;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  .Middle {
    position: relative;

    h1 {
      padding: 0.67em;
      margin: 0 100px;
    }
    .PizzaIcon-1,
    .PizzaIcon-2 {
      position: absolute;
      max-width: 35%;
    }
    .PizzaIcon-1 {
      left: 0%;
      bottom: -10%;
    }
    .PizzaIcon-2 {
      right: 0%;
      bottom: -10%;
    }
    @media (max-width: 800px) {
      h1 {
        font-size: 2rem;
      }
    }
  }
  a {
    text-decoration: none;
    color: #ffad11;
    @media (max-width: 700px) {
      display: none;
    }
    @media (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
  a:hover {
    color: #ffac118a;
  }
}
