.Topping {
  display: flex;
  border: 3px solid #2f2525;
  border-radius: 5px;

  margin: 5px 10px;

  .IconWrapper {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #2f2525;
    .Icon {
      width: 80%;
      height: 80%;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
    .Pepperoni-icon {
      background-image: radial-gradient(#ca4141, #6d2525);
      border-radius: 50%;
    }
    .Bacon-icon {
      border-radius: 15%;
      background-image: linear-gradient(
        90deg,
        #753434 0%,
        #b14f4f 30%,
        #ecc67f 35%,
        #d1ad69 65%,
        #b14f4f 70%,
        #753434
      );
    }
    .Ham-icon {
      border-radius: 15%;
      background-image: radial-gradient(#a3577d, #ffc0cb);
    }
    .Chicken-icon {
      border-radius: 40% 40% 100% 50%;
      background-image: radial-gradient(#dac0af 40%, #a1795e);
    }
    .Olives-icon {
      border-radius: 50%;
      background-image: radial-gradient(
        circle,
        transparent 32%,
        #211433 40%,
        #181124
      );
    }
    .Jalapenos-icon {
      border-radius: 50%;
      background-image: radial-gradient(
        circle,
        #fcfcfc,
        #b8db9b 25%,
        transparent 25%,
        transparent 48%,
        #399913 50%,
        #16571c
      );
    }
    .Mushrooms-icon {
      border-radius: 50% 50% 10% 10%;
      background-image: linear-gradient(#a7a7a7, #c7b2a5, #554d48);
    }
    .Mushrooms-icon:after {
      border-radius: 0 0 20% 20%;
      background-image: linear-gradient(#554d48, #a7a7a7);
    }
    .Peppers-icon {
      border-radius: 30% 10% 10% 30%;
      background-image: linear-gradient(90deg, #1e801e, #90ee90);
    }
    .Onions-icon {
      border-radius: 40%;
      background-image: radial-gradient(circle, #d8c0ff 25%, #4e3d77);
    }
  }

  .Name {
    flex-grow: 2;
    align-self: center;
  }

  .Buttons {
    float: right;
    align-self: center;
  }
}
